@charset "utf-8";

*{margin:0px;padding:0px;}
body{
  font-family: "맑은 고딕",arial,san-serif;
  font-size:12px;
  color:#333333;
}
caption{display:none;}
table{
  width:700px;
  margin:0px auto;
  /* 테두리 여백 제거 */
  border-collapse: collapse;
}
table tr:first-child th{
  background-color:#fcaed5;
  border-top:3px solid #d83f8b;
  border-bottom:1px solid  #d83f8b;
  color:#ffffff;
  text-transform:uppercase;
  line-height:30px;
}

/* 짝수번째 tr에 배경색 적용 */
table tr:nth-child(2n){
  background-color:#f9fcbc;
}
table tr{
  line-height:26px;
  border-bottom:1px dashed #7a7a7a;
}
table tr:last-child{
  border-bottom:none;
}
table tr th:first-child{width:80px;}
table tr th:nth-child(2){width:340px;}
table tr th:nth-child(3){width:100px;}
table tr th:nth-child(4){width:80px;}
table tr th:last-child{width:100px;}
